body {
    background-color: #E3F2FD;
    text-align: center;
}

#title {
    color: #424242;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

#input-el {
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 7px;
    color: #424242;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    background-color: #64B5F6;
    border: solid black 1px;
}

#input-time {
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 5px;
    color: #424242;
    display: block;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    background-color: #64B5F6;
    border: solid black 1px;
}

#input-time:hover {
    background-color: #81C784;
}

#input-time:focus {
    background-color: #81C784;
}

#input-el:hover {
    background-color: #81C784;
}

#input-el:focus {
    background-color: #81C784;
}


#save-btn {
    color: #424242;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    display: inline;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    background-color: #64B5F6;
    border: solid black 1px;
}

#save-btn:hover {
    background-color: #81C784;
    border: solid black 3px;
}

.chore-button {
    margin-top: 30px;
    margin-bottom: 2px;
    font-size: 20px;
    display: block;
    border-radius: 10px;
    padding: 10px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    background-color: #64B5F6;
    color: #424242;
}

.delete-btn {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    background-color: #64B5F6;
    color: #424242;
    border: solid black 1px;
}

.delete-btn:hover {
    background-color: #81C784;
    border: solid black 3px;
}

.finish-btn {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 5px;
    background-color: #64B5F6;
    color: #424242;
    border: solid black 1px;
}

.finish-btn:hover {
    background-color: #81C784;
    border: solid black 3px;
}

.in-progress-btn {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 5px;
    background-color: #64B5F6;
    border: solid black 1px;
}

.in-progress-btn:hover {
    background-color: #81C784;
    border: solid black 3px;
}

#delete-all {
    color: #424242;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    background-color: #64B5F6;
    border: solid black 1px;
    
}

#delete-all:hover {
    background-color: #81C784;
    border: solid black 3px;
}

.confirm-btn {
    color: #424242;
    background-color: #81C784;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    display: inline;
    margin-top: 5px;
    width: 45px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    border: solid black 1px;
}

.confirm-btn:hover {
    background-color: #64B5F6;
    border: solid black 3px;
}

.confirm-text {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    color: #424242;
}

.decline-btn {
    color: #424242;
    background-color: #81C784;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    display: inline;
    margin-top: 10px;
    width: 45px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    border: solid black 1px;
}

.decline-btn:hover {
    background-color: #64B5F6;
    border: solid black 3px;
}

.delete-container {
    background-color: #FAF3E0;
    border-radius: 7px;
}

#time-list {
    width: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: "Poppins", serif;
    background-color: #64B5F6;
    border-radius: 10px;
    padding: 15px;
    border: dotted black 2px;
}
